<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criando cliente</title>
</head>
<body>
<form action="{% url 'cliente:cliente_novo'  %}" method="post">
    <h2>Clientes</h2>
    {% csrf_token %}
    {{ form_client }}
  <input type="hidden" name="form" value="cliente">
    <input type="submit" value="Enviar">
</form>
<form action="{% url 'cliente:cliente_novo'  %}" method="post">
    <h2>Email</h2>
    {% csrf_token %}
    {{ form_email }}
    <input type="hidden" name="form" value="email">
    <input type="submit" value="Enviar">
</form>
<form action="" method="post">
    <h2>Telephone</h2>
    {% csrf_token %}
    {{ form_telephone }}
    <input type="hidden" name="form" value="telephone">
    <input type="submit" value="Enviar">
</form>
</body>
</html>