<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h2>
    {% url 'cliente:detail' client.id %}
</h2>
<div>
    <h2>{{ client.name }}</h2>
    <h3>Email</h3>
    <ul>
        {% for emails in client.email_set.all %}
        <li>{{ emails.email }}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3> Telefone</h3>
    <ul>
        {% for numbers in client.telephone_set.all %}
        <li>{{ numbers.number }}</li>
        <li>{{ numbers.number_type }}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>